@using GestaoDeEquipamentos.Dominio.ModuloFabricante
@model Fabricante;

<h1>Cadastro de Fabricantes</h1>

<hr />

<a href="/Fabricante/Index">Visualizar Fabricantes</a>

<form action="/Fabricante/Editar/@Model.Id" method="post">
    <label>Nome: </label>
    <input name="Nome" value="@Model.Nome"/>
    <br />

    <label>Email: </label>
    <input name="Email" value="@Model.Email" />
    <br />
    
    <label>Telefone: </label>
    <input name="Telefone" value="@Model.Telefone" />
    <br />

    <button>Gravar</button>
    </form>