@using GestaoDeEquipamentos.Dominio.ModuloChamado

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Chamados";
}

@model Chamado;



        <div class="row justify-content-center">
            <form class="col-6" action="/Chamado/Editar/@Model.Id" method="post">
                <div class="mb-3">
                    <label for="Titulo" class="form-label">Titulo:</label>
                    <input class="form-control" name="Nome" value="@Model.Titulo">
                </div>

                <div class="mb-3">
                    <label for="Descricao" class="form-label">Descrição:</label>
                    <input class="form-control" name="Descricao" value="@Model.Descricao">
                </div>

                <div class="mb-3">
                    <label for="DataAbertura" class="form-label">Data de Abertura:</label>
                    <input class="form-control" name="DataAbertura" value="@Model.DataAbertura">
                </div>

                <div class="mb-3">
                    <label for="Equipamento" class="form-label">Equipamento:</label>
                    <select class="form-select" name="equipamentoId">
                        <option selected disabled>Selectione uma opção</option>
                        @* @foreach (Equipamento e in Model) /// PRECISA IMPLEMENTAR O EDITAR CH.
                        { *@
                            <option value="teste">teste</option>
                        @* } *@
                    </select>
                </div>

                <div class="d-flex gap-2 justify-content-end">
                    <a href="/Chamado" class="btn btn-outline-primary px-5 ">Voltar</a>
                    <button class="btn btn-primary px-5">Gravar</button>
                </div>
            </form>
        </div>