@using GestaoDeEquipamento.WebApp.Models
@using GestaoDeEquipamentos.Dominio.ModuloChamado
@using GestaoDeEquipamentos.WebApp.Models

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Chamados";
}

@model VisualizarChamadosViewModel


<a class="btn btn-primary" href="/Chamado/Cadastrar">
    <i class="bi bi-plus"></i>
    Cadastar Novo
</a>

    <div class="row mt-3">
        @foreach (DetalhesChamadoViewModel c in Model.Registros)
        {
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@c.Titulo</h5>
                        <p class="card-text mb-0"><strong>Descrição:</strong> @c.Descricao</p>
                        <p class="card-text mb-0"><strong>Data de Abertura:</strong> @c.DataAbertura.ToString("d")</p>
                        <p class="card-text mb-0"><strong>Equipamento:</strong> @c.NomeEquipamento</p>
                    </div>

                    <div class="card-actions ms-auto me-3 mb-3 d-flex gap-1">
                        <a class="btn btn-sm btn-primary rounded-circle d-flex justify-content-center align-items-center" style="height: 35px; width: 35px;" href="/Chamado/Editar/@c.Id">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="btn btn-sm btn-danger rounded-circle d-flex justify-content-center align-items-center" style="height: 35px; width: 35px;" href="/Chamado/Excluir/@c.Id">
                            <i class="bi bi-trash2"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>